<?xml version="1.0"?>
<launch>

  <!-- Loading the controllers -->
  <arg name="controllers_gripper" default="gazebo_gripper gripper_joint_state_controller"
    doc="Controllers that are activated by default." />
  <rosparam command="load" file="$(find robotiq_gazebo)/config/controllers.yaml" />
  <node name="controller_spawner_gripper" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="$(arg controllers_gripper)" />

</launch>